[ng\:cloak], [ng-cloak], .ng-cloak {
         display: none !important;
}


nav ul a,
nav .brand-logo {
  color: #444;
}


.navbar-absolute {
  position: relative;
  height: 56px;
  z-index: 998; }
  .navbar-absolute nav {
    position: absolute; }

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px; }
  .navbar-absolute {
    height: 64px; } }
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#help-button {
  margin-top: 14px;
  margin-right: .2vw;
}
@media only screen and (min-width : 992px) {
  #logo-container {
    margin-left: .2vw;
    width: 30%;
  }
}

#headerSearch {
  display: inline-block;
  width: 290px;
  float: right;
  height: 36px;
  margin-top: 14px;
  margin-right: 14px;
  cursor: pointer;
  line-height: 49px;
  cursor: text;
}

#headerSearch:hover {
  background: red;
}

#search-box {
  max-height: 30px;
}


#searchh {
  color: red;
}

.main-text {
  font-size: 1.2em;
  font-weight: 800;
}

#socials img {
  max-height: 45px;
  margin: 3px;
}


.collection-item img {
  border-radius: 0;
}

.small-item {
  height: 42px;
}


.waves-hover:hover {
  background-color: rgba(244, 67, 54, 0.7);
}



.waves-hover-light:hover {
  background-color: rgba(244, 244, 244, 0.4);
}


@media only screen and (max-width : 1900px) {
  .responsive-text {
  width: 90%;
}}

@media only screen and (max-width : 2000px) and (min-width: 992px) {
.responsive-text a {
  font-size: 1.1vw;
}}

@media only screen and (max-width : 500px) {
  .responsive-collection {
    font-size: 4vw;
  }
  .collection .collection-item.avatar .title {
    font-size: 3.5vw;
  }
}

.nomar-bottom {
  margin-bottom: 0;
}

/*@media only screen and (min-width : 992px) {*/
.wcent {
      text-align: center;
  }
  .wcent ul {
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      /* For IE, the outcast */
      zoom:1;
      *display: inline;
  }
  .wcent li {
      float: left;
      padding: 2px 5px;
  }
/*}*/

.pagination a {
  height: 100%;
  width: 100%;

}

.cards-margin {
  margin-top: 40px;
  margin-bottom: -10px;
}

.container-xl {
  margin: 0 auto;
  max-width: 1280px;
  width: 97%; }

@media only screen and (min-width : 601px) {
  .container-xl {
    width: 95%; } }

@media only screen and (min-width : 993px) {
  .container-xl {
    width: 90%; } }



/* label underline focus color */
textarea.materialize-textarea:focus:not([readonly]), .input-field input[type=text]:focus, .input-field input[type=email]:focus {
  border-bottom: 1px solid #FF9F9F;
  box-shadow: 0 1px 0 0 #FF9F9F;
}



/* icon prefix color */
.input-field .prefix {
  color: #FF9F9F;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #29B6F6;
}


/* label focus color */
 textarea.materialize-textarea:focus:not([readonly]) + label, .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label {
  color: #FF9F9F;
} 



/* valid color */
textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid, .input-field input[type=text].valid, .input-field input[type=email].valid  {
  border-bottom: 1px solid #29B6F6;
  box-shadow: 0 1px 0 0 #29B6F6;
}



/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=text].ng-invalid-pattern, .input-field input[type=text].ng-invalid-minlength, .input-field input[type=text].ng-invalid-maxlength, .input-field input[type=email].invalid {
  border-bottom: 1px solid #F00;
  box-shadow: 0 1px 0 0 #F00;
}

.grey-block {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #E0E0E0;
}

#help-button {
  background: #F44336;
}

#help-button.active {
  background: #0AA7EB;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
