<div class="grey-block">
    <div class="container white z-depth-1" style="border-radius: 2px;">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s4"><a class="active light-blue-text" href="#test1">Боєць</a></li>
                    <li class="tab col s4"><a class="light-blue-text"  href="#test2">Житло</a></li>
                    <li class="tab col s4"><a class="light-blue-text"  href="#test3">Організація</a></li>
                </ul>
            </div>
            <div class="container-xl">
                <div class="col s12" id="test1">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструватися як боєць</h4>
                    <p class="center">Вкажіть свої контактні данні. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    
                    <div class="row">
                        <form class="col s12">
                            <h6 class="grey-text text-darken-1">ПІБ бійця:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="fighter_last_name" type="text" class="validate">
                                    <label for="fighter_last_name">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="fighter_first_name" type="text" class="validate">
                                    <label for="fighter_first_name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="fighter_middle_name" type="text" class="validate">
                                    <label for="fighter_middle_name">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="fighter_phone" type="text" class="validate">
                                    <label for="fighter_phone">Контакнтний телефон</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="fighter_email" type="email" class="validate">
                                    <label for="fighter_email" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Додаткова інформація:</h6>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea  id="fighter_wound-field" class="materialize-textarea validate"></textarea>
                                    <label  tooltipped  for="fighter_wound-field"  data-position="left" data-delay="50" data-tooltip="Опишіть себе або своє поранення.">Коротко про себе:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="waves-effect waves-light btn light-blue lighten-1">
                                                <span>Завантажити фото</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <a href="#/" class="waves-effect waves-light btn red lighten-3" message="Реєстрація успішно завершена!" duration="3000" toast='click'>Зареєструвати</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12" id="test2">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати житло</h4>
                    <p class="center">Вкажіть контактні данні власника, а також короткі відомості про житло. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    <h5>ПІБ власника:</h5>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_last_name" type="text" class="validate">
                                    <label for="home_last_name">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_first_name" type="text" class="validate">
                                    <label for="home_first_name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_middle_name" type="text" class="validate">
                                    <label for="home_middle_name">По-батькові</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="home_phone" type="text" class="validate">
                                    <label for="home_phone">Контакнтний телефон</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="home_email" type="email" class="validate">
                                    <label for="home_email" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea  id="fighter_wound-field" class="materialize-textarea validate"></textarea>
                                    <label  tooltipped  for="fighter_wound-field"  data-position="left" data-delay="50" data-tooltip="Опишіть себе або своє поранення.">Коротко про себе:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="waves-effect waves-light btn light-blue lighten-1">
                                                <span>Завантажити фото</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <a href="#/" class="waves-effect waves-light btn red lighten-3" message="Реєстрація успішно завершена!" duration="3000" toast='click'>Зареєструвати</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12" id="test3">
                    <h4  class="center light-blue-text text-lighten-1">Зареєструвати благодійну організацію</h4>
                    <p class="center">Вкажіть деякі необхідні дані про організацію, а також контакти для продуктивного спілкування.</p>
                    <h5 tooltipped data-position="left" data-delay="50" data-tooltip="Або ПІБ контактного лиця">ПІБ менеджера:</h5>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_last_name" type="text" class="validate">
                                    <label for="org_last_name">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_first_name" type="text" class="validate">
                                    <label for="org_first_name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_middle_name" type="text" class="validate">
                                    <label for="org_middle_name">По-батькові</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="org_phone" type="text" class="validate">
                                    <label for="org_phone">Контакнтний телефон</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="org_email" type="email" class="validate">
                                    <label for="org_email" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea  id="fighter_wound-field" class="materialize-textarea validate"></textarea>
                                    <label  tooltipped  for="fighter_wound-field"  data-position="left" data-delay="50" data-tooltip="Опишіть себе або своє поранення.">Коротко про себе:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="waves-effect waves-light btn light-blue lighten-1">
                                                <span>Завантажити лого</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <a href="#/" class="waves-effect waves-light btn red lighten-3" message="Реєстрація успішно завершена!" duration="3000" toast='click'>Зареєструвати</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomar-bottom"></div>
    </div>
</div>