<div class="grey-block">
    <div class="container white z-depth-1" style="border-radius: 2px;">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s4"><a class="active amber-text text-darken-2" href="#test1">Боєць</a></li>
                    <li class="tab col s4"><a class=" amber-text text-darken-2"  href="#test2">Житло</a></li>
                    <li class="tab col s4"><a class=" amber-text text-darken-2"  href="#test3">Організація</a></li>
                </ul>
            </div>
            <div class="container-xl">
                <div class="col s12" id="test1">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати бійця</h4>
                    <p class="center">Вкажіть свої контактні данні. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    <div class="row">
                        <form class="col s12" name="FighterForm" novalidate>
                            <h6 class="grey-text text-darken-1">ПІБ бійця:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="fln" class="validate" length="64" ng-model="fighter.lastName" required>
                                    <label for="fln">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="ffn" class="validate" length="64" ng-model="fighter.firstName" required>
                                    <label for="ffn">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="fmn" class="validate" length="64" ng-model="fighter.middleName" required>
                                    <label for="fmn">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input
                                    tooltipped  data-position="left" data-delay="400" data-tooltip="Валідація номеру містить баг!"
                                    type="text" id="fp" class="validate" length="20" ng-model="fighter.phone" name="fighterPhone" ng-pattern="/[+(]?(\d+[ .\-()]*)+/" ng-minLength="7" ng-maxlength="20" required>
                                    <label for="fp">Контакнтний телефон</label>
                                    <span class="error-msg red-text animate-show" ng-show="updateFields()">Too short!</span>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" id="fe" class="validate" ng-model="fighter.email" required>
                                    <label for="fe" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Додаткова інформація:</h6>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="fw" class="materialize-textarea validate" ng-model="fighter.info"></textarea>
                                    <label for="fw" tooltipped  data-position="left" data-delay="20" data-tooltip="Опишіть себе або своє поранення.">Коротко про себе:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div input-field class="file-field ">
                                        <div class="waves-effect waves-light btn light-blue lighten-1"
                                         tooltipped  data-position="left" data-delay="20" data-tooltip="Не працює на данний момент!">
                                            <span>Завантажити фото</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn red lighten-3" name="submit_1" value="Зареєструвати"  ng-disabled="FighterForm.$invalid" message="Реєстрація успішно завершена!" ng-click="submit(fighter)" duration="3000" toast='click'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12" id="test2">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати житло</h4>
                    <p class="center">Вкажіть контактні данні власника, а також короткі відомості про житло. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    
                    <div class="row">
                        <form class="col s12" name="OwnerForm" novalidate>
                            <h6 class="grey-text text-darken-1">ПІБ власника:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="oln" class="validate" ng-model="owner.lastName" required>
                                    <label for="oln">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="ofn" class="validate" ng-model="owner.firstName" required>
                                    <label for="ofn">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="omn" class="validate" ng-model="owner.middleName" required>
                                    <label for="omn">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input
                                    tooltipped  data-position="left" data-delay="400" data-tooltip="Валідація номеру містить баг!"
                                    type="text" id="op" class="validate" length="20" ng-model="owner.phone" name="ownerPhone" ng-pattern="/[+(]?(\d+[ .\-()]*)+/" ng-minLength="7" ng-maxlength="20" required>
                                    <label for="op">Контакнтний телефон</label>
                                    <span class="error-msg red-text animate-show" ng-show="updateFields()">Too short!</span>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" id="oe" class="validate" ng-model="owner.email" required>
                                    <label for="oe" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Адреса:</h6>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" id="or" class="validate" ng-model="owner.region" required>
                                    <label for="or">Область</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" id="oc" class="validate" ng-model="owner.city" required>
                                    <label for="oc">Населений пункт</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" id="os" class="validate" ng-model="owner.street" required>
                                    <label for="os">Вулиця</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m3 offset-m3">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" id="ob" class="validate" ng-model="owner.building" required>
                                    <label for="ob">Будинок</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <i class="material-icons prefix">location_on</i>
                                    <input type="text" id="oa" class="validate" ng-model="owner.appartment">
                                    <label for="oa">Квартира</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p class="center">
                                        <input type="checkbox" id="oar"  ng-model="owner.agreement" required>
                                        <label for="oar">Я ознайомлений з <a href="#/about">правилами</a></label>
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn red lighten-3" name="submit_2" value="Зареєструвати"  ng-disabled="OwnerForm.$invalid" message="Реєстрація успішно завершена!" ng-click="submit(owner)" duration="3000" toast='click'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12" id="test3">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати благодійну організацію</h4>
                    <p class="center">Вкажіть деякі необхідні дані про організацію, а також контакти для продуктивного спілкування.</p>
                    <div class="row">
                        <form class="col s12" name="OrganizationForm" novalidate>
                            <h6 class="grey-text text-darken-1" tooltipped data-position="left" data-delay="50" data-tooltip="Або ПІБ контактного лиця">ПІБ менеджера:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="orln" class="validate" ng-model="organization.lastName" required>
                                    <label for="orln">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="orfn" class="validate" ng-model="organization.firstName" required>
                                    <label for="orfn">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="ormn" class="validate" ng-model="organization.middleName" required>
                                    <label for="ormn">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input
                                    tooltipped  data-position="left" data-delay="400" data-tooltip="Валідація номеру містить баг!"
                                    type="text" id="orp" class="validate" length="20" ng-model="organization.phone" name="organizationPhone" ng-pattern="/[+(]?(\d+[ .\-()]*)+/" ng-minLength="7" ng-maxlength="20" required>
                                    <label for="orp">Контакнтний телефон</label>
                                    <span class="error-msg red-text animate-show" ng-show="updateFields()">Too short!</span>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" id="ore" class="validate" ng-model="organization.email" required>
                                    <label for="ore" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Додаткова інформація:</h6>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="orn" class="validate" ng-model="organization.title" required>
                                    <label for="orn">Назва благодійної організації</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="orc" class="validate" ng-model="organization.city" required>
                                    <label for="orc" tooltipped data-position="left" data-delay="50" data-tooltip="Де діє благодійна організація (або знаходится головний офіс).">Назва населеного пункту</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="file-field input-field">
                                        <div class="waves-effect waves-light btn light-blue lighten-1"
                                         tooltipped  data-position="left" data-delay="20" data-tooltip="Не працює на данний момент">
                                            <span>Завантажити лого</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p class="center">
                                        <input type="checkbox" id="orar"  ng-model="organization.agreement" required>
                                        <label for="orar">Я ознайомлений з <a href="#/about">правилами</a></label>
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn red lighten-3" name="submit_3" value="Зареєструвати" ng-disabled="OrganizationForm.$invalid" message="Реєстрація успішно завершена!" ng-click="submit(organization)" duration="3000" toast='click'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomar-bottom"></div>
    </div>
</div>