﻿<div class="grey-block">
    <div class="container white z-depth-1" style="border-radius: 2px;">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s4"><a class="active light-blue-text" href="#test1">Боєць</a></li>
                    <li class="tab col s4"><a class="light-blue-text"  href="#test2">Житло</a></li>
                    <li class="tab col s4"><a class="light-blue-text"  href="#test3">Організація</a></li>
                </ul>
            </div>
            <div class="container-xl">
                <div class="col s12" id="test1">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати бійця</h4>
                    <p class="center">Вкажіть свої контактні данні. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    <div class="row">




                        <form class="col s12" name="FighterForm" novalidate>
                            <h6 class="grey-text text-darken-1">ПІБ бійця:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="fln" class="validate" length="64" ng-model="fighter.lastName" required>
                                    <label for="fln">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="ffn" class="validate" length="64" ng-model="fighter.firstName" required>
                                    <label for="ffn">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input type="text" id="fmn" class="validate" length="64" ng-model="fighter.middleName" required>
                                    <label for="fmn">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input type="text" id="fp" class="validate" length="20" ng-model="fighter.phone" name="fighterPhone" ng-pattern="/[+(]?(\d+[ .\-()]*)+/" ng-minLength="7" ng-maxlength="20" required>
                                    <label for="fp">Контакнтний телефон</label>
                                    <span class="error-msg red-text animate-show" ng-show="updateFields()">Too short!</span>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" id="fe" class="validate" ng-model="fighter.email" required>
                                    <label for="fe" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Додаткова інформація:</h6>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="fw" class="materialize-textarea validate" ng-model="fighter.info"></textarea>
                                    <label tooltipped  for="fw" data-position="left" data-delay="50" data-tooltip="Опишіть себе або своє поранення.">Коротко про себе:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div input-field class="file-field ">
                                        <div class="waves-effect waves-light btn light-blue lighten-1">
                                            <span>Завантажити фото</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row center">
                                <div input-field  class="col s12">
                                    <input type="submit" class="waves-effect waves-light btn red lighten-3" name="submit_2" value="Зареєструвати"  ng-disabled="FighterForm.$invalid" message="Реєстрація успішно завершена!" ng-click="submit(fighter)" duration="3000" toast='click'>
                                </div>
                            </div>
                        </form>








                    </div>
                </div>


                <div class="col s12" id="test2">
                    <h4 class="center light-blue-text text-lighten-1">Зареєструвати житло</h4>
                    <p class="center">Вкажіть контактні данні власника, а також короткі відомості про житло. Після ретельної обробки ми з вами зв'яжемося для подальших дій.</p>
                    
                    <div class="row">
                        <form class="col s12">
                            <h6 class="grey-text text-darken-1">ПІБ власника:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_last_name" type="text" class="validate">
                                    <label for="home_last_name">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_first_name" type="text" class="validate">
                                    <label for="home_first_name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="home_middle_name" type="text" class="validate">
                                    <label for="home_middle_name">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="home_phone" type="text" class="validate">
                                    <label for="home_phone">Контакнтний телефон</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="home_email" type="email" class="validate">
                                    <label for="home_email" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Адреса:</h6>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input id="home_region" type="text" class="validate">
                                    <label for="home_region">Область</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input id="home_city" type="text" class="validate">
                                    <label for="home_city">Населений пункт</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <i class="material-icons prefix">location_on</i>
                                    <input id="home_street" type="text" class="validate">
                                    <label for="home_street">Вулиця</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m3 offset-m3">
                                    <i class="material-icons prefix">location_on</i>
                                    <input id="home_building" type="text" class="validate">
                                    <label for="home_building">Будинок</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <i class="material-icons prefix">location_on</i>
                                    <input id="home_apartment" type="text" class="validate">
                                    <label for="home_apartment">Квартира</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p class="center">
                                        <input type="checkbox" id="home_rules">
                                        <label for="home_rules">Я ознайомлений з <a href="#/about">правилами</a></label>
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                   <!--  <a href="#/" class="waves-effect waves-light btn red lighten-3" message="Реєстрація успішно завершена!" duration="3000" toast='click'>Зареєструвати</a> -->
                                   <input type="submit" class="waves-effect waves-light btn red lighten-3" name="submit_2" value="Зареєструвати"  ng-disabled="LovelyForm.$invalid" message="Реєстрація успішно завершена!" duration="3000" toast='click'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col s12" id="test3">
                    <h4  class="center light-blue-text text-lighten-1">Зареєструвати благодійну організацію</h4>
                    <p class="center">Вкажіть деякі необхідні дані про організацію, а також контакти для продуктивного спілкування.</p>
                    <div class="row">
                        <form class="col s12">
                            <h6 class="grey-text text-darken-1" tooltipped data-position="left" data-delay="50" data-tooltip="Або ПІБ контактного лиця">ПІБ менеджера:</h6>
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_last_name" type="text" class="validate">
                                    <label for="org_last_name">Прізвище</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_first_name" type="text" class="validate">
                                    <label for="org_first_name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_middle_name" type="text" class="validate">
                                    <label for="org_middle_name">По-батькові</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Контакти:</h6>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="org_phone" type="text" class="validate">
                                    <label for="org_phone">Контакнтний телефон</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="org_email" type="email" class="validate">
                                    <label for="org_email" data-error="невірний email">Email-адреса</label>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-1">Додаткова інформація:</h6>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_name" type="text" class="validate">
                                    <label for="org_name">Назва благодійної організації</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="org_city" type="text" class="validate">
                                    <label for="org_city"  tooltipped data-position="left" data-delay="50" data-tooltip="Де діє благодійна організація (або знаходится головний офіс)">Назва населеного пункту</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="waves-effect waves-light btn light-blue lighten-1">
                                                <span>Завантажити лого</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <p class="center">
                                        <input type="checkbox" id="org_rules">
                                        <label for="org_rules">Я ознайомлений з <a href="#/about">правилами</a></label>
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12">
                                    <a href="#/" class="waves-effect waves-light btn red lighten-3" message="Реєстрація успішно завершена!" duration="3000" toast='click'>Зареєструвати</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nomar-bottom"></div>
    </div>
</div>