<div class="grey lighten-2">
    <div class="container">
        <div class="row  nomar-bottom">
            <div class="col s12">dsfsdfsdfsdfs
                df
                sdf
                s
                fs
                df
                s
                fs
                df
                s
                fds
                f
                s
                fsdf<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>gdfhd
            </div>
        </div>
    </div>
</div>