﻿<div class="grey lighten-2" style="height: 600px; margin-top: -40px;">
	<br>
	<br>
	<br>
	<h6 class="center">Сторінка "Допомогти"</h6>
	<h1 class="center red-text text-lighten-2">У РОЗРОБЦІ!</h1>
	<h6 class="center">слідкуйте за <a href="#/reports">новинами</a> та будьте в курсі виходу нових сторінок</h6>
</div>