<div class="grey-block">
	<div class="container" id="top-row">
		<div class="card white cards-margin">
			<div class="card-content">
				<h4 
				class="card-title blue-text text-lighten-2 center" 
				style="font-size: 3em;font-weight: 500;">Звіти</h4>
				
				<p class="center">Бути в курсі всіх подій можна легко перебуваючи на цій сторінці, адже тут буде з'являтися лише актуальне та цікаве!</p>
				<br>
				<h6 class="center amber-text text-darken-2">Безмежный "скрол":</h6>
				<div class="switch center">
				  <label>
				    Off
				    <input type="checkbox" ng-model="infiniteScrollConfirme" ng-change="scrollChange()">
				    <span class="lever"></span>
				    On
				  </label>
				</div>
			</div>
			<div class="card-action animate-hide" ng-show="paging">
              	<a class="pointer" scroll-to="nav-row">До навігації</a>
            </div>
		</div>
	</div>

	<div class="container" ng-show="paging">
		<div class="row">
		   	<div class="col s12 l6" dir-paginate="news in newsList | filter:q | itemsPerPage: pageSize"  total-items="total" current-page="currentPage">
		     	<div class="card">
			       	<div class="card-image">
			         	<img ng-src="{{news.img}}" height="300vw">
			         	<span class="card-title">{{news.title}}</span>
			       	</div>
			       	<div class="card-content">
			         	<p>{{news.preview}}</p>
			       	</div>
			       	<div class="card-action">
			         	<a href="#">{{common.details}}</a>
			       	</div>
		   		</div>
			</div>
		</div>

		<div class="row" id="nav-row">
			<div class="col s12 center">
    			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
    		</div>
        </div>
		<div class="row nomar-bottom"></div>
	</div>
	<div class="container" ng-show="!paging">
		<div class="row" infinite-scroll='pager.nextPage(paging)' infinite-scroll-disabled='pager.busy' infinite-scroll-distance='3'>
		   	<div class="col s12 l6" ng-repeat="news in pager.items track by $index">
		     	<div class="card">
			       	<div class="card-image">
			         	<img ng-src="{{news.img}}" height="300vw">
			         	<span class="card-title">{{news.title}}</span>
			       	</div>
			       	<div class="card-content">
			         	<p>{{news.preview}}</p>
			       	</div>
			       	<div class="card-action">
			         	<a href="#">{{common.details}}</a>
			       	</div>
		   		</div>
			</div>
			<div ng-show='pager.busy' class="center">
				<div class="preloader-wrapper big active">
				    <div class="spinner-layer spinner-blue">
				        <div class="circle-clipper left">
				          	<div class="circle"></div>
				        </div><div class="gap-patch">
				          	<div class="circle"></div>
				        </div><div class="circle-clipper right">
				          	<div class="circle"></div>
				        </div>
				    </div>

				    <div class="spinner-layer spinner-red">
				        <div class="circle-clipper left">
				          	<div class="circle"></div>
				        </div><div class="gap-patch">
				          	<div class="circle"></div>
				        </div><div class="circle-clipper right">
				          	<div class="circle"></div>
				        </div>
				    </div>

				    <div class="spinner-layer spinner-yellow">
				        <div class="circle-clipper left">
				          	<div class="circle"></div>
				        </div><div class="gap-patch">
				          	<div class="circle"></div>
				        </div><div class="circle-clipper right">
				          	<div class="circle"></div>
				        </div>
				    </div>

				    <div class="spinner-layer spinner-green">
				        <div class="circle-clipper left">
				          	<div class="circle"></div>
				        </div><div class="gap-patch">
				          	<div class="circle"></div>
				        </div><div class="circle-clipper right">
				          	<div class="circle"></div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="row nomar-bottom"></div>
	</div>
</div>